@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;700&display=swap');

* {
	margin: 0;
	padding: 0;
	font-weight: 400;
	font-size: 32px;
	line-height: 150%;
    background-image: url(./img/pexels-gradienta.jpg);
}

main {
	display: flex;
}

button{
    text-decoration: none;
    font-weight: 600;
    font-size: 30px;
    color: #ffffff;
    padding-top: 20px;
    padding-bottom: 20px;
    padding-left: 40px;
    padding-right: 40px;
    background: #005BBB;
}

h6 { 
    background: transparent;
    font-size: 18px;
    margin-top: 2.33em;
    margin-bottom: 0;
    margin-left: 0;
    margin-right: 0;
    font-weight: normal;
    color: black;
}

.columna-izq{
    display: block;
    background: transparent;
}

.input-text{
	margin-top: 90px;
    margin-left: 200px;
}

.img{
	justify-content: center;
	align-items: center;
	width: 336px;
	height: 304px;
	margin-top: 283px;
	margin-left: 1032px;
}

.btn{
    background: transparent;
    margin-top: 500px;
    margin-left: 400px;
    font-weight: 600px;
    font-size: 100px;
}

.columna-der{
    position: absolute;
    width: 600px;
    height: 1100px;
    left: 1500px;
    top: 55px;
    margin-bottom: 50px;
    background: white;
    box-shadow: 0px 24px 32px -8px rgba(0, 0, 0, 0.08);
    border-radius: 32px;

}

.img-muneco{
    display: block;
    margin-top: 200px;
    margin-left: 100px;
    background: white;
    column-span: all;
}

.input-text-area{
    display: flex;
    margin-top: 50px;
    margin-left: 90px;
    margin-right: 90px;
    text-align: center;

}

.btnCopiar{
    margin-top: 20px;
    margin-left: 200px;
    background: white;
}
